* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**/

.container {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.clock {
    font-family: 'Share Tech Mono', monospace;
    background-color: rgb(39, 39, 48);
    display: flex;
    border: 0.5rem solid #a59595;
    border-radius: 2rem;
    user-select: none;
    padding: 0 2rem;
    width: 600px;
}

.left-content {
    color: rgb(106, 104, 104);
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 418px;
}

.active, .dates {
    color: #fff;
    font-weight: 900;
}

/**/

.right-content {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}
.times {
    font-family: 'Digital-7';
    font-size: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 418px;
}

#ampm {
    font-size: 2rem;
}

.dates, .dates-description {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.dates-description {
    margin-bottom: 5px;

    color: antiquewhite;
}