* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**/

.container {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.clock {
    font-family: 'Share Tech Mono', monospace;
    background-color: rgb(39, 39, 48);
    display: flex;
    border: 0.5rem solid #a59595;
    border-radius: 2rem;
    user-select: none;
    padding: 0 2rem;
}

.days-of-week {
    color: rgb(150, 141, 141);
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
}

.active, .dates {
    color: #fff;
    font-weight: 900;
}

.times {
    font-family: 'Digital-7';
    font-size: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ampm {
    font-size: 2rem;
}

.dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}